:root {
    --white: #efefef;
    --darkgrey: #666666;
    --grey: #c8ccd6;
    --blue: #76a5ff;
    --black: #343a40;
    --bgwhite: #ffffff;
    --transparent: rgba(255, 255, 255, 0);
}
body {
    color: var(--black);
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    padding: 0;
}
.section {
    align-items: center;
    margin: 0rem 6rem !important;
}
.underline-active {
    position: relative;
}
.underline-active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    bottom: -2px;
    left: 0;
}

@media (max-width: 768px) {
    .section {
        margin: 1.5rem !important;
    }
}
.container {
    align-items: center;
}
.card-body {
    background-color: var(--grey) !important;
}
.sub-title-btn .btn {
    width: 9rem;
}

/* Navbar Section */
/* Navbar New */
/* .navbar {
    background-color: white !important;
    margin: 0rem 6rem;
    border-bottom: 2px solid var(--darkgrey);
}
.navbar .btn {
    width: 9rem;
}
.nav-item {
    color: var(--black);
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar {
        margin: 0rem 2rem;
    }
} */

/* Navbar */
.navbar {
    background-color: var(--bgwhite) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.7rem 6rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.navbar-brand {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--black);
    transition: color 0.3s;
}
.navbar-brand:hover {
    color: var(--darkgrey);
}
.nav-item .nav-link {
    margin-right: 20px;
    font-size: 1.1rem;
    color: var(--black);
    position: relative;
    transition: color 0.3s, transform 0.3s;
}
.nav-item .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--black);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.nav-item .nav-link:hover::after {
    visibility: visible;
    width: 100%;
}
.nav-item .nav-link:hover {
    color: var(--darkgrey);
    transform: scale(1.05);
}
.dropdown-menu {
    min-width: 220px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, opacity 0.3s;
    transform-origin: top right;
}
.dropdown-menu.show {
    transform: scale(1);
    opacity: 1;
}
.dropdown-menu a {
    color: var(--black);
    padding: 10px 20px;
    transition: background-color 0.3s;
    display: block;
}
.dropdown-menu a:hover {
    background-color: var(--white);
}
.btn-secondary {
    border-radius: 30px;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    background: var(--darkgrey);
    color: var(--white);
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}
.btn-secondary:hover {
    background-color: var(--black);
    transform: scale(1.05);
}
.btn-secondary .bi-person-circle {
    font-size: 1.5rem;
    transition: transform 0.3s;
}
.btn-secondary:hover .bi-person-circle {
    transform: scale(1.2);
}
.nav-item .active {
    font-weight: 700;
    color: var(--black) !important;
}
@media (max-width: 768px) {
    .navbar {
        padding: 0.7rem 2rem;
    }
}

/* Navbar Old
@media (max-width: 992px) {
    .navbar {
        padding: 0.5rem 1rem;
    }
    .nav-item .nav-link {
        margin-right: 10px;
        font-size: 1rem;
    }
    /* .btn-secondary {
        padding: 0.4rem 0.8rem;
    } */

/* Hero Section */
.hero {
    margin-top: 5rem !important;
}
.hero-title {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    text-align: center;
    align-items: center;
    margin-top: -1rem;
}
.hero-title p {
    font-size: 8vw;
    letter-spacing: 1vw;
    color: var(--black);
}
@media (max-width: 576px) {
    .hero-title {
        margin-top: 2.5rem;
    }
}
/* Running Text Section */
/* .running-text {
    background-color: var(--black);
    height: 3rem;
    overflow: hidden;
    position: relative;
    color: var(--white);
}
.running-text-scroll {
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    color: var(--white);
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    animation: scroll-left 15s linear infinite;
}
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} */

/* Logo */
.logo img{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    text-align: center;

}

/* Keunggulan Section */
.keunggulan {
    margin-top: 6rem !important;
}
.dot-title {
    display: flex;
}
.dot-title i {
    margin-right: 0.5rem;
    font-size: 0.8rem;
    margin-top: 2.5px;
    color: var(--blue);
}
.dot-title .sub-title {
    color: var(--black);
}
.sub-title-btn {
    text-align: right;
}
.keunggulan .card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure all cards have the same height */
}
.keunggulan .card-body {
    flex-grow: 1; /* Make card-body grow to fill available space */
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 2em !important;
    font-weight: bold;
}
h2 {
    font-size: 1.75em !important;
    font-weight: bold;
}
h3 {
    font-size: 1.5em !important;
    font-weight: bold;
}
h4 {
    font-size: 1.25em !important;
    font-weight: bold;
}
h5 {
    font-size: 1em !important;
    font-weight: bold;
}
h6 {
    font-size: 0.875em !important;
    font-weight: bold;
}

/* Langkah Pemesanan */
.langkah{
    margin-top:50px !important;
}
.step {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
}

.step-number {
    width: 50px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
}

.step-content {
    flex-grow: 1;
    padding: 15px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; 
    height: 30px; 
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 30px; 
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.arrow-up::before {
    content: '↑'; 
    transform: rotate(-45deg);
}

.arrow-down::before {
    content: '↑';
    transform: rotate(135deg); 
}

/* Rent Preview Section */
.kendaraan {
    margin-top: 6rem !important;
}
.card-vehicle {
    overflow: hidden;
}
.card-vehicle img {
    height: 20rem;
    width: auto;
    object-fit: cover;
}
.card-vehicle .card-title {
    font-weight: bold;
}
.card-vehicle .card-type {
    /* font-weight: lighter; */
}
.card-vehicle .card-price {
    font-weight: bold;
}
.card-vehicle .card-specs ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 0.9rem;
    /* font-weight: lighter; */
}
.card-vehicle .btn-card button {
    width: 100%;
    margin: 0.3rem 0rem;
}

/* Testimoni/Review Section */
blockquote {
    margin: 0;
    padding: 0;
}
blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
.review {
    margin-top: 6rem !important;
}
.review-profile img {
    height: 4rem;
    width: 4rem !important;
    border-radius: 50%;
    object-fit: cover;
}
.review-profile {
    display: flex;
}
.review-profile-info {
    margin-left: 1rem;
}
.review .card-profile-name {
    margin-bottom: 0.1rem;
    font-weight: bold;
}
.review .card-vehicle-name {
    margin-bottom: 0.1rem;
    font-weight: lighter;
}
.review-profile-info {
    margin-top: -0.5rem;
}
.review .card-text {
    margin-top: 1rem;
    overflow: hidden;
    width: auto;
    height: 6rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.owl-nav button.owl-next,
.owl-nav button.owl-prev {
    border-radius: 50% !important;
    width: 3rem !important;
    height: 3rem !important;
    background-color: var(--darkgrey) !important;
    opacity: 50% !important;
}
button.owl-next span,
button.owl-prev span {
    position: absolute;
    color: var(--white);
    font-size: 3rem;
    margin-top: -2.7rem;
    margin-left: -0.5rem;
}
button.owl-dot {
    border-radius: 50% !important;
    width: 3rem !important;
    height: 3rem !important;
}
.owl-theme .owl-dots .owl-dot span {
    width: 2.2rem !important;
    height: 10px;
    margin: 5px 7px;
    background: var(--darkgrey);
    display: block;
    transition: opacity 0.2s ease;
    border-radius: 30px;
}

/* About Preview Section */
.about {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
}
.about .sub-title-btn {
    text-align: left;
}
.about .btn {
    width: 9rem;
}
.about .row {
    width: 100%;
    margin-top: 3rem;
    color: var(--white);
}
.banner-about {
    position: relative;
}
.banner-text {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    text-align: left;
    padding: 0rem 1rem;
}
.about .section-title {
    margin-bottom: 2rem;
}
@media (max-width: 768px) {
    .banner-text {
        top: 10%;
        left: 0;
    }
    .banner-about img {
        height: 12rem;
        width: 100%;
        object-fit: cover;
    }
    .about .section-title {
        margin-bottom: 0rem;
    }
}

.list-inline {
    display: flex;
    gap: 30px; /* Jarak antar item */
    padding: 0;
    list-style-type: none;
}
.card-product {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-header {
    height: 250px; 
    padding: 10px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header img {
    height: 100%;
    width: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-inline-item {
    margin-right: 15px; 
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: auto; 
}
.button-group .btn {
    margin: 5px;
}
.btn-detail {
    flex: 2;
}
.btn-cart {
    flex: 1;
}
